::-webkit-input-placeholder {
	color: #231e1e;
} /* Chrome/Opera/Safari */
::-moz-placeholder {
	color: #231e1e;
} /* Firefox 19+ */
:-ms-input-placeholder {
	color: #231e1e;
} /* IE 10+ */
:-moz-placeholder {
	color: #231e1e;
}
